body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.nav{
    width: auto;
    background-color: rgb(7, 7, 7);
    font-size: 1.2rem;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    position:sticky;
    top: 0px;
    opacity: 92%;
    display: flex;
    list-style-type: none;       
}

.tech{
    background-color: rgb(9, 139, 133);
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 6px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 10px;
    padding: 4px;
}

.stack{
    margin-left: 1px;
    background-color: rgb(28, 163, 69);
    padding-left: 8px;
    padding-right: 9px;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: black;
    padding: 4px;
}

.test{
width: 30px;
background-color: rgb(255, 255, 255);
height: 4px;
margin-top: 4px;
border-radius: 1px;
}


.news-image{
    width:100%;
    height:240px ;
    margin-bottom: 10px;
    margin-top: 30px;
}

@media(min-width:700px){
    .news-image{
        width: 400px;
        height: 300px;
    }
}

.date{
    width: auto;
    margin-top: 40px;
    margin-left: 12px;
    font-weight: bold;
    font-size: 80%;
}

.heading{
    font-weight: bold;
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 19px;
    margin-top: 30px;
}

.paragraph{
    width: auto;
    padding: 10px;
    font-size: 1.2rem;
    padding-bottom: 20px; 
    line-height: 1.5; 
}

hr{
    width: 280px;   
}

#mydiv{
    width: auto;
    height: 200px;
}

.container{
    width: 100%;
    height:auto;
    background-color: rgb(200, 139, 139);       
}

.call{
    font-weight: bold;
    width: auto;
    padding-left:12px;
    padding-top: 10px;
    height: auto;
    padding-top: 50px;   
}

.number{
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-bottom: 15px;   
}

.write{
    font-weight: bold;
    width: auto;
    padding-left: 12px;
}

.email{
    padding-left: 12px;
}

.follow{
    font-weight: bold;
    padding-left: 14px;
    display: flex;
    margin-top: 40px; 
    margin-bottom: 20px;  
}

.follow-icon{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;   
}

.image{
    width: 20px;     
}

.social-icon{
    padding: 1px;
    height: 20px;
    
}

.copyright{
    margin-top: 40px;
    text-align: center;
}

.rights{
    text-align: center;
}

.readmorelink{
    color: rgb(1, 69, 230); 
    text-decoration:none;
    font-size:large;
}

.readmore{
    margin-bottom: 45px;
    margin-left: 14px;
}

.back-home{
    color: rgb(1, 69, 230); 
    text-decoration:none;
    font-size:large;
    margin-left: 14px;
}

/*last hr*/
.end{
    width: auto;
    margin-bottom: 50px;
}

.home{
    padding-bottom: 50px;
}

#roundButton {
    background-color: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

.hamburger:hover{
    background-color: rgb(9, 139, 133);
}
#flyoutMenu {
    width: 400px;
    height: 100vh;
    background-color: rgb(26, 24, 24);
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-200vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    z-index: 1000;
}

.menu{
    width: auto;
    height: 30px;
    padding: 4px;
    padding-top:14px;
    padding-bottom: 14px; 
    padding-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255); 
    text-align: start;   
}

.close{
    width:30px;
    height: 30px;
    padding-bottom: 14px; 
    padding: 6px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: white; 
    margin: 8px;
    margin-bottom:30px;
}

.close-image{
    width: 30px;
}

.close-image:hover{
    background-color: red;
}

 a {
     text-decoration: none;
 }

.menu:hover {
    background-color: rgb(2, 2, 2);
    color: rgb(253, 253, 253);   
} 

#flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
}  

.container-career{
    height: 300px;
    width: auto;
    background-color: rgb(255, 255, 255);
}

.career{
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}

.notice{
    margin-top: 20px;
    color: red;
}