body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    width: auto;
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
    position:sticky;
    top: 0px;
     opacity:93%;
}

.logo{
    width: 40px;
    margin-right: 100px;
    display: flex;
    padding: 10px;
}

.news-image{
    width:100%;
    height:250px ;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 3px;
}

.heading{
    font-weight: bold;
    font-size: 2rem;
    margin-left: 10px;
    margin-top: 30px;
}

.paragraph{
    padding: 10px;
    font-size: 1.2rem;
    padding-bottom: 20px;  
}

hr{
    width: 280px;   
}
.end{
    width: auto;
}

#mydiv{
    width: auto;
    height: 200px;
}

.container{
    width: 100%;
    height:360px;
    background-color: rgb(245, 238, 238);
    
}

.call{
    font-weight: bold;
    width: auto;
    padding-left:12px;
    padding-top: 10px;
    height: auto;
    padding-top: 50px;
    
}

.number{
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-bottom: 15px;
    
}

.write{
    font-weight: bold;
    width: auto;
    padding-left: 12px;
}

.email{
    padding-left: 12px;
}

.follow{
    font-weight: bold;
    padding-left: 14px;
    display: flex;
    margin-top: 40px; 
    margin-bottom: 20px;  
}

.follow-icon{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    
}

.image{
    width: 20px;     
}

.social-icon{
    padding: 1px;
    height: 20px;
    
}

.copyright{
    margin-top: 40px;
    text-align: center;
}

.rights{
    text-align: center;
}


.back-home{
    text-decoration: none;
    color: rgb(1, 69, 230);
    font-size: large;
}